body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #f3e1d1 , #f3e1d1 ,  #8d542b);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.category-header {
    display:flex ;
    align-items: center;
    justify-content: space-between;
    background-color: #a47c58;
    color: rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 17px;
}

.category-header .back-icon {
    height: 30px;
}

.category-header h2 {
    flex: 1;
    text-align: center;
}

.categories {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    overflow-x: auto;
    gap: 10px;
}
.category-card {
    background-color: #D9D9D9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    width: 130px;
    height: 163px;
    flex-shrink: 0;
}

.category-card img{
  border-radius: 15%;
  margin-top: 8px;
}

.category-card img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-bottom: 5px;
}
.category-card p {
    font-size: 14px;
    color: #333;
    margin: 5px 0 0;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}
.product-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
}

a {
    text-decoration: none;
}

h3 {
    text-decoration: none;
}

p {
    text-decoration: none;
}
 
.back-button {
    background: none;
    border: none;
    color: #000000;
    cursor: pointer;
    font-size: 30px;
}

.harga {
  justify-content: space-around;
  display: flex;
  margin-top: 20px;
}
.product-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}
.product-card h3 {
    font-size: 14px;
    margin: 0 0 5px;
    color: #4A2C2A;
}
.product-card p {
    font-size: 16px;
    font-weight: bold;
    color: #4A2C2A;
    margin: 5px 0;
}
.product-card button {
    background-color: #a47c58;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.product-card button:hover {
    background-color: #8c684e;
}